<nav> 
    <div class="container"> 
        <a href="index.html" class="brand" aria-label="Torna alla Home"> 
            <img src="assets/svg/logo.svg" alt="Lauris Logo" width="24" height="24"> 
            <h1>Lauris</h1> 
        </a> 
        <div class="links"> 
            <a href="features.html" class="nav-link">Funzionalità</a> 
            <a href="price.html" class="nav-link">Piani</a>
            <a href="support.html" class="nav-link">Supporto</a>
        </div> 
        <div class="nav-actions">
            <a href="https://apps.apple.com/us/app/lauris/id6759625379" target="_blank" class="btn-nav-download">Scarica</a>
        </div>
    </div> 
</nav>